html{
    background-color: hsl(216, 12%, 8%);
    color: white;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 500;
}

p{
  color: hsl(217, 12%, 63%);
  font-size: 15px; 
  line-height: 1.5rem; 
}

main{
    background-color: hsl(213, 19%, 18%);
    padding: 1rem 1rem 0rem 1rem;
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 15px;
}

form{
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
}

label{
    
    background-color: hsl(213, 19%, 23%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

input{
    display: none;
}

input:checked + label{
    background-color: hsl(217, 12%, 63%);
}

form label:hover{
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

#star-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 19%, 23%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}