html{
    background-color: hsl(216, 12%, 8%);
    color: white;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 500;
}

p{
  color: hsl(217, 12%, 63%);
  font-size: 15px; 
  line-height: 1.5rem; 
}

main{
    background-color: hsl(213, 19%, 18%);
    padding: 1rem 1rem 0rem 1rem;
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 15px;
}