body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 15px;
    box-shadow: 2px 15px 50px 7px rgba(0,0,0,0.35);
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    width: fit-content;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 24px;
    font-weight: 700;
    width: 275px;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    width: 260px;
    margin-top: 0;
}



.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}