body{
    background: linear-gradient(180Deg,hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    border-radius: 15px;
    height: 75%;
    max-width: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
}

img{
    width: 70%;
    
}

h1{
    text-align: center;
}











.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}